body {
    font-family: 'Nanum Gothic', sans-serif;
}

.cube {
    width: 75px;
    height: 75px;
    border: 2px solid black;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
    justify-content: center;
    margin: 0 auto;
    display: inline-block;
    border-radius: 12px;
    margin: 2px;
}

.addCube {
  animation: expand .5s ease-in-out;
}

#mainGame {
    width: 55%;
    display: flexbox;
    margin: auto;
    /* border: 1px dashed black; */
    justify-content: center;
    text-align: center;
    float:left;
    height: 80%;
    padding-top: 10px;
}

#hangman {
    width: 38%;
    display: flexbox;
    margin: auto;
    /* border: 1px dashed black; */
    justify-content: center;
    text-align: center;
    float: right;
    height: 80%;
    
}

#mainContainer {
    display: flexbox;
    text-align: center;
    width: 90%;
    margin: auto;
    height: 45em;
   
}

/* #main {
    height: 60%;
    text-align: center;
} */

.logic2 {
    display:none;
}

.selectBtn {
    display: flex;
    margin: auto;
    margin-top: 15px;
    width: 8em; 
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    height: 2em;
    align-self: center;
    border: 3px solid #639fff;
    border-radius: 15px;
    background: white;
    font-size: 1.5em;
}

.selectBtn:hover {
    color: white;
    background: #639fff;
}
.hidden {
    display: none;
}

#logic {
    padding-top: 5em;
}

.wrong {
    animation: shake 0.5s;
}

.flip {
    animation: flip 0.5s;
}

#hangman {
  border: 1px solid black;
  height: 500px;
  padding: 10px;
  width: 350px;
}








@keyframes expand {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }


  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes flip {
    from {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  
    40% {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  
    50% {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    80% {
      -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    to {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }
  
  

 
    







